<app-modal>
    <div class="productDetails">
        <div>
            <img [src]="productDetails?.image" alt="">
        </div>
        <h1>{{ productDetails?.name }}</h1>
        <h1>{{ productDetails?.price + ' EGP' }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolore voluptatibus sequi temporibus animi tempora commodi, tempore fugiat delectus, cupiditate voluptatum atque dolorum architecto optio blanditiis a. Maxime, a provident?
        Praesentium velit quaerat, adipisci odio facilis quae unde eveniet eligendi, accusamus modi error accusantium temporibus minima porro sint! Exercitationem ea est ut minima nemo incidunt cumque! Doloribus accusantium nesciunt ipsam?</p>
    </div>
</app-modal>
