<app-carousel></app-carousel>
<div class="container">
    <app-products-header></app-products-header>
    <div class="row">
        <div class="col-sm-8">
            <div class="leftSide">
                <button mat-button>وصل حديثا</button>
                <div class="lineBetween"></div>
                <button mat-stroked-button color="primary">عرض الكل</button>
            </div>
            <app-products-list></app-products-list>
        </div>
        <div class="col-sm-4">
            <div class="rightSide">
                <button mat-button>منتجات تصفحتها مؤخرا</button>
            </div>
            <app-seen-products-recently></app-seen-products-recently>
        </div>
    </div>
</div>
