@font-face {
    font-family: CairoRegular;
    src: url(../assets/fonts/Cairo-Regular.ttf);
}
@font-face {
    font-family: CairoBold;
    src: url(../assets/fonts/Cairo-Bold.ttf);
}

.overallContent {
    font-family: CairoRegular;
}
